@import "./color";
@import "./fonts";

.btn {
	display: inline-block;
	font-family: $fontSecondary;
	font-size: 16px;
	border-color: transparent;
	border-radius: 5px;
	padding: 0.55rem 1.25rem;
	text-decoration: none;
	cursor: pointer;
}

.btn-primary{
	background-color: $colorSecondary;
	color: $colorPrimary;
}

.btn-outline-primary{
	background-color: transparent;
	color: $colorSecondary;
	border: 2px solid $colorSecondary;
	transition: 0.3s;
	&:hover {
		background-color: $colorSecondary;
		color: $colorPrimary;
	}
}

.btn-dark{
	background-color: #1b1b1b;
	color: $colorPrimary;
	&:hover {
		background-color: #141414;
	}
}
.btn-outline-dark{
	background-color: transparent;
	color: $colorPrimary;
	border: 2px solid #1b1b1b;
	transition: 0.3s;
	&:hover {
		background-color: #141414;
	}
}

.btn-white {
	background-color: #fff;
	color: #141414;
	&:hover {
		background-color: #fff;
	}
}
.btn-outline-white{
	background-color: transparent;
	color: #fff;;
	border: 2px solid #fff;
	transition: 0.3s;
	&:hover {
		color: #141414;
		background-color: #fff;
	}
}