//color
$colorTitle: #000;
$colorPrimary: #fff;
$colorSecondary: #E80505;

//background color
$bodyBg: #141414;
$headerBg: #141414;
$footerBg: #0c0c0c;

//color
$cardBS: 0 5px 10px -5px rgb(0, 0, 0);
$cardBg: #0e0e0e;