.cc-mastercard{
    color: #000;
    background: linear-gradient(145deg, #FFFFFF, #D7E1EC);

    h2{
        text-transform: capitalize;
        font-weight: 400;
    }

    .cc-number{
        font-size: 20px;
        padding: 3rem 0 1rem;
    }

    .cc-expiry-date{
        display: flex;
        flex-direction: column;
        span {
            font-size: 8px;
            text-transform: uppercase;
        }
        p { font-size: 16px;  }
    }
    .cc-name{ text-transform: capitalize; }
    svg {  font-size: 46px; }
}