.card-news {
    display: block;
    margin: 1rem 0;
    transition: .4s;

    a {
        color: $colorPrimary;
        transition: .4s;
        &:hover { 
            color: $colorSecondary;
            transition: .4s;
        }
    }

    .text {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
}