.card-products {
    &:hover {
        .image-wrap::after {
            opacity: 0.3;
        }
        img {
            transform: scale(1.2);
            transition: 1.4s;
        }
    }

    .image-wrap::after {
        background-color:  #000000;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
    
    img {
        transition: 1.4s;
    }

    .title {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 0.75rem;
    }
    .ratings svg {
        margin-left: 0.5rem;
    }
}