.sitebar {
    .sidebar-menu {
        padding: 1.2rem 0;
        border-bottom: 1px solid #e9ecef;
        a {
            color: #fff;
            &:hover{ color: #E80505; }
        }
        h3, .form-search { margin-bottom: .5rem; }
        .btn-collapse {
            display: flex;
            justify-content: space-between;
            svg { transition: transform .5s; }
            &.collapse svg {
                transform: rotatez(-180deg);
                transition: transform .5s;
            }
        }
        .sidebar-collapse-menu {
            display: none;
            &.show { display: block; }
        }
    }
}